/* .container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #252525, #444);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.containerBusca{
    width: 400px;
    height: 130px;
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
}

/* .header-section {
    width: 400px;
    height: 130px;
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0;

    @media (max-width: 430px) {
        width: 300px;
    }
}

.header-title {
    margin: 0;
    padding: 15px 0;
    color: #E5E5E5;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 100%;
} */